<div class="flex items-start border w-fit rounded px-6 py-2 gap-8 shadow">
    <div class="w-40">
        <h2 class="text-indigo-600 font-bold text-md">From</h2>
        <h1 class="font-normal text-2xl">{{ from }}</h1>
        <h3 class="text-sm text-slate-400 font-light">{{ fromDescription }}</h3>
    </div>
    <div class="w-40">
        <h2 class="text-indigo-600 font-bold text-md">To</h2>
        <h1 class="font-normal text-2xl">{{ to }}</h1>
        <h3 class="text-sm text-slate-400 font-light">{{ toDescription }}</h3>
    </div>
    <div class="mt-auto mb-auto">
        <h1 class="text-indigo-600 text-4xl font-bold">{{ amount }}</h1>
    </div>
</div>